body
{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.clock div{
    
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 60px;
    width: 20px;
    
}