body 
{
  
margin: 0px;
height: 100vh;


}

#body-header 
{
  width: 100rem;
  height: 60vh;
  background-image: url(abcc.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  
  
}

 .horizental-list
{
  list-style: none;
  padding-left: 0px;
  padding-top: 15px;
  text-align: center;
  margin: 0px;
  
  
}

 .horizental-list li {
  display: inline;
  padding: 8px;
  font-size: 1.2rem;
  letter-spacing: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  

}

.horizental-list li a {
  color: rgb(247, 243, 243);
  text-decoration: none
  
  
  
}
.horizental-list li a:hover
{
  color: rgb(115, 111, 111);
  
  text-decoration: none;
}

#myname
{
  text-align: center;
  color: white;
  padding-top: 5%;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.social-icon li a i 
{
  font-size: 25px;
  padding: 10px;
}
.social-icon li a i:hover
{
  box-shadow: 0px 0px 4px 2px rgb(235, 111, 111);
}



#myimg 
{ 
  position: relative;
  height: 12rem;
  width: 12rem;
  margin: auto;
  margin-top: -7vh;
  
}
 #myimg img 
 {
  
  height: 100%;
  width: 100%;
  border-radius: 50% ;
 }
 
 
  .About .p1
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
  }

  .About .p2
  {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    
  }

  section
   {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    
   }

   .About
   {
    background-color: #dee2e6;
    opacity: 1;
   }
/*
   section:nth-child(2n)
   {
    background-color: white;
   }
   section:nth-child(2n+1)
   {
    background-color: #9e9b9b29;
   }
   */

   .Heading-section
   {
    
    text-align: center;
    font-size: 40px;
   }
  
  

/* Container for skill bars */
.container {
  margin-left: 3rem;
  width: 100%; /* Full width */
  background-color: rgb(255, 251, 251); /* Grey background */
}

.skills {
  
  
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%;background-color: #04AA6D;} 
/* Green */
.css {width: 94%; background-color: #2196F3;} 
/* Blue */
.js {width: 60%; background-color: #f44336;} 
/* Red */
.php {width: 10%; background-color: #808080;} 
/* Dark Grey */
  
  #Skill p 
  {
    margin-left: 3rem;
  }
  
  
  
