
body 
{
text-align: center;
}
.main{
    display: flex;
}

.main .pencil img
{
    margin: 0 auto 0 auto;
    height: 300px;
    width: 300px;
}
.main .top

{
    
    width: 200px;
    height: 200px;
    background-color: #070c0b;
    position: absolute;
    
    
    
}

.main .middle
{
    
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
   
    
}

.main .bottom
{
    background-color: lightskyblue;
    width: 200px;
    height: 200px;
    position: absolute;
    
    
}